<div align="center">
  <% if user_signed_in? %>
      <div style="justify-content: space-between; display: flex">
        <%= current_user.email %>
        <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
      </div>
      <div align="center">
      <% @tasks.each do |task| %>
          <div style="justify-content: space-between; display: flex; margin: auto; max-width: 300px; border: 1px solid">
              <div style="border-right: 1px red solid"><%= task.name %></div>
              <div style="border-right: 1px red solid"><%= task.description %></div>
              <div style="border-right: 1px red solid"><%= task.importance %></div>
              <div style="border-right: 1px red solid"><%= task.expiry %></div>
            <div>
              <%= link_to 'update', edit_task_path(task), method: :get %>
              <%= link_to 'delete', task , method: :delete %>
            </div>
          </div>

      <% end %>
      <%= button_to 'create task', new_task_path, method: :get %>
      </div>
  <% else %>
      <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</div>

