<div align="center">
  <% if user_signed_in? %>
      <div class="upper_links" >
        <%= current_user.email %>
        <div>
          <%= link_to :en, '/?locale=en', :method => :get %>
          <%= link_to :ru, '/?locale=ru', :method => :get %>
          <%= link_to t(:exit), destroy_user_session_path, :method => :delete %>
        </div>
      </div>
      <div align="center">
        <table class="table">
          <tr>
            <td><%= t :status %></td>
            <td><%= t :name %></td>
            <td><%= t :description %></td>
            <td><%= t :importance %></td>
            <td><%= t :expiry %></td>
          </tr>
        <% @tasks.each do |task| %>
              <tr>
                <% if task.is_done%>
                  <td><%= t :done%></td>
                <% else task.is_done%>
                  <td><%= t :undone%></td>
                <% end %>
                <td><%= task.name %></td>
                <td><%= task.description %></td>
                <td><%= task.importance %></td>
                <td><%= task.expiry %></td>
                <td><%= link_to t(:update), edit_task_path(task), method: :get %></td>
                <td><%= link_to t(:delete), task , method: :delete %></td>
              </tr>
        <% end %>
        </table>
      <%= button_to 'create task', new_task_path, method: :get %>
      </div>
  <% else %>
      <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
  <% end %>
</div>

