
<% if user_signed_in? %>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
    <div>
    <% @tasks.each do |task| %>
        <div>
          <%= task.name %>
          <%= link_to 'u', edit_path(id: task.id), method: :post %>
          <%= link_to 'x', destroy_path(id: task.id), method: :delete %>
        </div>

    <% end %>
    <%= link_to 'create task', 'tasks/new' %>
    </div>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>

